{% extends "index.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header heading">Login</h5>
                    <div class="card-body">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}